.cellSize {
    position: absolute;
    bottom: 0;
    right: 0;
}

.largeBlock,
.smallBlock {
    @include size(14px);
    background: var(--c-primary);
    border-radius: 0.25em;
    transition: all 0.3s;
}

.smallBlock {
    @include pseudo-icon-minus(var(--c-primary-bg), 8px);
    transform: scale(0.75);

    &:hover {
        transform: scale(0.6);
    }
}

.largeBlock {
    @include pseudo-icon-x(var(--c-primary-bg), 8px);

    &:hover {
        transform: scale(1.15);
    }
}
