.rules {
    position: absolute;
    top: 0;
    left: 0;

    > header {
        @include flex(row, center);
        margin-top: 0.3em;

        &:not(:first-child) {
            margin-top: 1em;
        }

        > button {
            @include size(16px);
            position: relative;
            border-radius: 50%;
            margin-right: 0.5em;
            overflow: hidden;

            &::before,
            &::after {
                @include pseudo();
                @include size(100%);
                top: 0;
                left: 0;
            }

            &::before {
                border-radius: 50%;
                box-sizing: border-box;
                border: 2px solid var(--c-primary);
            }

            &::after {
                background: var(--c-primary);
                transform: rotate(-45deg) translate3d(0, -50%, 0);
                transition: all 0.3s;
            }

            &:hover::after {
                transform: rotate(-45deg) translate3d(0, 50%, 0);
            }
        }

        > h3 {
            @include font(400, 1em);
            color: var(--c-text);
        }
    }

    > div {
        @include flex(row);
        margin: 0.5em 0;

        > button {
            @include flex(row, center, center);
            @include size(1em);
            @include font(500);
            padding: 0.35em 0.25em 0.4em;
            box-sizing: content-box;
            border-radius: 0.15em;
            border: 1px solid rgba(black, 0.075);
            color: rgba(var(--c-text), 0.75);
            transition: all 0.3s;

            &.active {
                opacity: 1;
                border-color: transparent;
                box-shadow: 0 0.05em 0.25em  var(--c-primary);
                background: var(--c-primary);
                color: var(--c-primary-bg);
            }

            &:not(:last-child) {
                margin-right: 0.35em;
            }

            &:not(.active):hover {
                color: rgba(var(--c-text), 0.95);
                border: 1px solid rgba(black, 0.125);
            }
        }
    }
}
