.lifeStats {
    @include flex(row);
    position: absolute;
    font-weight: 500;
    line-height: 1.5em;
    bottom: 0;
    z-index: 1;

    p {
        font-family: $font-family-display;
        font-weight: 600;
        margin-bottom: -2px;
    }
}

.lockFPSBtn:hover {
    background: var(--c-primary);
}
