.stats {
    @include flex(column);

    > section {
        @include flex(row, center);

        &:not(:last-child) {
            margin-bottom: 0.5em;
        }

        button {
            @include size(1.5em);
            background: $color-primary-accent;
            border-radius: 100%;
            cursor: pointer;
            transition: all 0.3s;
            margin-right: 0.5em;

            svg {
                @include size(100%);
                fill: white;
                padding: 0.25em;
            }

            &.active {
                background: $color-primary;
            }

            &.resetGenerationCounterBtn:hover {
                background: $color-primary;
            }
        }
    }
}
