.wrapper {
    @include position(0, 0, 0, 0);
    @include flex(row, center, center);
    margin: auto;
    position: fixed;
    z-index: 10;
    opacity: 0;
    transition: all 0.3s;
    pointer-events: none;

    &.open {
        pointer-events: all;
        background: rgba(black, 0.5);
        opacity: 1;
    }
}

.menu {
    @include flex(column);
    background: var(--c-primary-bg);
    color: var(--c-text-primary);
    border-radius: 0.5em;
    font-family: $font-family;
}

.menuHeader {
    @include flex(row, center, space-between);
    border-bottom: 1px solid var(--c-secondary-bg);
    padding: 1em 1em;

    > button {
        @include size(1em);
        position: relative;
        margin-left: 1em;
        cursor: pointer;

        &::before,
        &::after {
            @include pseudo();
            @include size(100%, 2px);
            top: 0;
            background: var(--c-text-primary);
            left: 50%;
            border-radius: 2em;
            transform: rotate(45deg);
            transition: all 0.15s;
        }

        &::after {
            transform: rotate(-45deg);
        }

        &:hover {
            &::before,
            &::after {
                background: var(--c-primary);
            }
        }
    }
}

.content {
    @include flex(row);
    padding: 1em;
}

.pages {
    @include height(30vh, 5em, 50em);
    @include width(60vw, 20em, 50em);
    position: relative;
    overflow: hidden;

    .pageWrapper {
        @include position(0, 0, 0, 0);
        transition: all 0.15s;
        position: absolute;
        overflow: hidden;
        opacity: 0;

        &.openPage {
            opacity: 1;
            z-index: 2;
        }
    }
}

.navigation {
    @include flex(column);
    padding-right: 1em;

    button {
        border-radius: 0.25em;
        padding: 0.5em 0.75em;
        color: var(--c-text-primary);
        transition: all 0.3s;

        &.openTab {
            background: var(--c-primary);
            color: var(--c-text-secondary);
        }

        &:hover:not(.openTab) {
            background: var(--c-secondary-bg);
        }

        &:not(:first-child) {
            margin-top: 0.75em;
        }
    }
}
