@import '~normalize.css';
@import '~sassyfication';
@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

input,
button {
    outline: none;
    background: inherit;
    border: none;
}

button {
    cursor: pointer;
}

code {
    background: var(--c-secondary-bg);
    font-family: monospace;
    font-weight: inherit;
    padding: 0 0.45em 0.15em;
    border-radius: 0.15em;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

#app {
    user-select: none;

    --c-text-primary: #242930;
    --c-text-secondary: #fff;
    --c-primary: #388dff;
    --c-primary-accent: #87baff;
    --c-primary-bg: #fff;
    --c-secondary-bg: #fff;
}

// TODO: Add button to manually switch
@media screen and (prefers-color-scheme: dark) {
    body {
        background: black;
    }

    canvas {
        filter: invert(1);
    }

    #app {
        --c-text-primary: #fff;
        --c-text-secondary: #fff;
        --c-primary: #2f95f3;
        --c-primary-accent: #4a617b;
        --c-primary-bg: #19191f;
        --c-secondary-bg: #131315;
    }
}
