@import '~normalize.css';
@import '~sassyfication';
@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

input,
button {
    outline: none;
    background: inherit;
    border: none;
}

button {
    cursor: pointer;
}

code {
    background: #f6f8fa;
    font-family: monospace;
    font-weight: inherit;
    padding: 0 0.45em 0.15em;
    border-radius: 0.15em;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

#app {
    font-size: 1.75vmin;
    user-select: none;
}
