@import url('https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap');

$font-family: 'Poppins';

$color-text: #242930;
$color-primary: #388dff;
$color-primary-accent: #87baff;
$color-error: #ff3838;
