.widget {
    @include inline-flex(column);
    background: white;
    margin: 0.5em;
    padding: 0.75em 1em;
    border-radius: 0.5em;
    border: 2px solid $color-primary;
    box-shadow: 0 1px 0.35em $color-primary;
    font-family: $font-family;
    color: $color-text;
    transition: all 0.3s;
}

.disabled {
    box-shadow: 0 1px 0.15em $color-primary;
    filter: grayscale(1);
    opacity: 0.85;
    pointer-events: none;
}
