.verticalNumberInput {
    @include inline-flex(column, center, space-between);
    min-height: 5.55em;

    > p {
        font-family: $font-family-display;
        cursor: ns-resize;
    }

    > div {
        display: flex;
        transition: all 0.3s;
    }
}

.disabled {
    pointer-events: none;
    filter: grayscale(1);
}

.arrowUp,
.arrowDown {
    @include size(18px);
    position: relative;
    transition: all 0.3s;

    &::before,
    &::after {
        @include pseudo();
        @include size(4px, 65%);
        @include position(0, 0, 0, 0);
        background: var(--c-primary);
        border-radius: 50em;
        margin: auto;
    }

    &::before {
        transform: translateX(-27.5%) rotate(-45deg);
    }

    &::after {
        transform: translateX(27.5%) rotate(45deg);
    }

    &:hover {
        transform: translateY(-5%);
    }
}

.arrowDown {
    transform: rotate(180deg);

    &:hover {
        transform: rotate(180deg) translateY(-5%);
    }
}
