.loadingOverlay {
    @include position(0, 0, 0, 0);
    @include flex(column, center, center);
    position: fixed;
    background: var(--c-primary-bg);
    z-index: 100;

    > div {
        display: grid;
        grid-gap: 0.5vmin;
        grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
        margin-top: auto;
    }

    &[data-finish=true] {
        opacity: 0;
        transform: translateY(25vh);
        transition: all 0.3s 0.95s;

        .cell {
            transition: all 1s ease-in;
        }
    }
}

.cell {
    @include size(5vmin);
    border-radius: 0.25em;
    transition: all 0.1s;

    &[data-active=true] {
        background: var(--c-primary);
    }
}

.bottomText {
    @include font(500, 0.85em);
    font-family: $font-family;
    margin-top: auto;
    margin-bottom: 0.5em;
    color: var(--c-primary);
}
