.keyBindings {
    @include flex(column);
    flex-shrink: 0;
    height: 100%;
    width: 100%;
}

.header {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    align-items: center;
    grid-gap: 2em;
    flex-shrink: 0;
    margin-bottom: 0.75em;
}

.disableHint {
    display: inline-block;
    background: var(--c-secondary-bg);
    color: var(--c-info);
    font-size: 0.75em;
    padding: 0.75em;
    margin-bottom: 1.25em;
    border-radius: 0.15em;
}

.list {
    @include flex(column);
    will-change: transform;
    overflow: auto;
    flex-grow: 1;
}
