.keyBinding {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    align-items: center;
    grid-gap: 2em;

    &:not(:first-child) {
        margin-top: 0.75em;
    }

    p {
        white-space: nowrap;
        flex-shrink: 0;
    }

    &.recording {
        .keys {
            color: var(--c-red);
            border-color: var(--c-red);
            box-shadow: 0 0.1em 0.35em var(--c-red);

            @include animate('0.75s ease-in-out infinite alternate') {
                from {
                    box-shadow: 0 0 0.35em var(--c-red);
                }
                to {
                    box-shadow: 0 0 0 var(--c-red);
                }
            }

            button {
                color: var(--c-text-secondary);
                background: var(--c-red);
                transform: none;
            }
        }
    }
}

.keysWrapper {
    @include flex(column);
    border-radius: 0.2em;
    overflow: hidden;

    .errorText {
        @include font(500, 0.7em);
        background: var(--c-red);
        padding: 0.4em 0.75em;
    }
}

.keys {
    @include flex(row, center);
    @include font(500, 0.9em);
    position: relative;
    font-family: $font-family-display;
    background: var(--c-primary-bg);
    border: 1px solid var(--c-secondary-bg);
    transition: all 0.3s;
    padding: 0.5em 0.75em;
    overflow: hidden;
    cursor: pointer;
    min-width: 15em;

    &:hover {
        button {
            transform: none;
        }
    }

    span {
        text-transform: uppercase;

        > span {
            @include font(600, 1em, 0.01em);

            &:not(:first-child)::before {
                font-weight: 400;
                margin: 0 0.25em;
                content: '+';
            }
        }
    }

    button {
        @include font(400, 0.8em);
        font-family: $font-family;
        position: absolute;
        padding: 0 1em;
        height: calc(100% - 4px);
        margin-right: 2px;
        border-radius: 0.25em;
        right: 0;
        color: var(--c-text-primary);
        background: var(--c-secondary-bg);
        transform: translateX(120%);
        transition: all 0.15s;
    }
}

.hidden {
    opacity: 0;
    visibility: hidden;
}
