.export {
    @include flex(row, center, space-evenly);
    margin: auto 0;

    section {
        @include flex(column, center);
        height: 100%;

        > h2 {
            border-bottom: 3px solid var(--c-secondary-bg);
            padding-bottom: 0.15em;
        }

        > p {
            margin-bottom: auto;
            padding: 1em 0;
            line-height: 1.25em;
            text-align: center;
        }
    }

    button {
        @include flex(row, center);
        background: var(--c-primary);
        padding: 0.75em 1em;
        border-radius: 0.15em;
        color: var(--c-text-secondary);
        transition: all 0.3s;

        &:hover {
            filter: brightness(1.05);
        }

        svg {
            @include size(1em);
            margin-right: 0.75em;
            fill: white;
        }
    }
}

.downloadSection {
    @include flex(column);

    .option {
        @include flex(row, center);
        font-size: 0.85em;
        margin: 1em 0;

        > p {
            margin-left: 1em;
        }
    }
}
